<app-navigation></app-navigation>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Prihlásiť sa </h2>

    <form [formGroup]="loginGroup">
      <input formControlName="username" type="text" id="login" name="login" placeholder="Prihlasovacie meno">
      <input formControlName="password" type="password" id="password" name="login"  autocomplete="off" autocapitalize="off"
             autocorrect="off"  placeholder="Heslo">
      <button mat-raised-button color="primary" [disabled]="!loginGroup.valid" type="submit" value="Prihlásiť" (click)="login()">Prihlásiť</button>
    </form>

    <div id="formFooter">
      <a class="underlineHover" routerLink="/register">Nemáte účet?</a>
    </div>
  </div>
</div>
