<div class="head">
  <div class="spacey">...by spaceY</div>
  <div class="name">Smej sa...</div>
  <div class="navigation">
    <nav class="account"><img class="photo" src="img.png">účet</nav>
    <nav class="categories"><img class="photo" src="img.png">kategórie</nav>
    <nav class="add"><img class="photo" src="img.png">pridať</nav>
    <nav class="favorite"><img class="photo" src="img.png">obľúbené</nav>
    <nav class="sort"><img class="photo" src="img.png">zoradiť</nav>
  </div>
</div>



<!--<img class="photo" src="img.png">-->
