<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="head">
  <div class="spacey">...by spaceY</div>
  <div class="name">Smej sa...</div>
  <div class="navigation">
    <button class="btn"><mat-icon>account_circle</mat-icon> účet</button>
    <button class="btn"><mat-icon>category</mat-icon> kategórie</button>
    <button class="btn"><mat-icon>add_circle</mat-icon> pridať</button>
    <button class="btn"><mat-icon>favorite</mat-icon> obľúbené</button>
    <button class="btn"><mat-icon>sort</mat-icon> zoradiť</button>
  </div>
</div>



<!--<img class="photo" src="img.png">-->
