<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="head">
  <div class="spacey">...by spaceY</div>
  <div class="name" routerLink="/home">Smej sa...</div>
  <div class="navigation">

    <button class="btn" routerLink="/login"><mat-icon class="accountimg">account_circle</mat-icon> účet</button>

    <button class="btn" mat-button [matMenuTriggerFor]="category"><mat-icon class="catgoryimg">category</mat-icon> kategórie </button>
      <mat-menu #category="matMenu">
        <button mat-menu-item>Blodýnky</button>
        <button mat-menu-item>Auto-moto</button>
        <button mat-menu-item>Policajti</button>
        <button mat-menu-item>Slováci</button>
      </mat-menu>


    <button class="btn" routerLink="/addpage"><mat-icon class="addimg">add_circle</mat-icon> pridať</button>
    <button class="btn"><mat-icon class="favoriteimg">favorite</mat-icon> obľúbené</button>

    <button class="btn" mat-button [matMenuTriggerFor]="sorting"><mat-icon class="sortimg">sort</mat-icon> zoradiť
      <mat-menu #sorting="matMenu">
        <button mat-menu-item>Názvu</button>
        <button mat-menu-item>Dátumu pridania</button>
        <button mat-menu-item>Obľúbenosti</button>
      </mat-menu>
    </button>
  </div>
</div>



<!--<img class="photo" src="img.png">-->
